<%- include('includes/head') %>
<%- include('includes/navbar') %>

<div class="container">
    <div class="col-lg-2"></div>
    <div class="col-lg-10 my-3">

        <h1 class="text-center">Agenda</h1>
        <input type="hidden" name="qtdContatos" id="qtdContatos" value="<%=contatos.length%>">
        <% if(contatos.length > 0) {%>
        <p class="text-center lead">Sua lista de contatos está abaixo, use os filtros de Nome, Sobrenome e Email para
            facilitar sua procura.
        </p>
        <%- include('includes/messages'); %>
        <div class="responsive-table-sm">
            <table class="table table-hover my-3" id="listaContatos">
                <% if(contatos.length > 10) {%>    
                    <th>Nome<div><input id="filtro-nome"/></div></th>
                    <th>Sobrenome<div><input id="filtro-sobrenome"/></div></th>
                    <th>Tel/Cel</th>
                    <th>Email<div><input id="filtro-email"/></div></th>
                    <th>Endereço</th>
                    <th></th>
                    <th></th>
                <% } else { %>
                    <th>Nome</th>
                    <th>Sobrenome</th>
                    <th>Tel/Cel</th>
                    <th>Email</th>
                    <th>Endereço</th>
                    <th></th>
                    <th></th>
                <% } %>

            <% contatos.forEach(contato => { %>
                <tr>
                    <td><%= contato.nome %></td>
                    <td><%= contato.sobrenome %></td>
                    <% if(contato.telefone.length > 10) {%>
                        <td><a href="https://api.whatsapp.com/send?phone=55<%= contato.telefone %>" target="_blank"><%= contato.telefone %></a></td>
                    <% } else { %>
                        <td><a href="tel:<%= contato.telefone %>" target="_blank"><%= contato.telefone %></a></td>
                    <% } %>
                    <td><a href="mailto:<%= contato.email %>" class=""><%= contato.email %></a></td>
                    <td><%= contato.endereco %></td>
                    <td><a href="/contato/index/<%= contato._id %>" class="">Editar</a></td>
                    <td><a class="text-danger" href="/contato/delete/<%= contato._id %>">Excluir</a></td>
                </tr>
            <% }) %>
            </table>
            <% } else { %>
                <p class="text-center lead">Você não tem contatos cadastrados.</p>
            <% } %>
        </div>
    </div>
    <div class="col-lg-2"></div>
</div>

   

<%- include('includes/footer') %>