<%- include('includes/head') %>
<%- include('includes/navbar') %>

<div class="container">
    <div class="col-lg-2"></div>
    <div class="col-lg-10 my-3">

        <h1 class="text-center">Agenda</h1>
        <% if(contatos.length > 0) {%>
        <p class="text-center lead">Sua lista de contatos está abaixo</p>
        <%- include('includes/messages'); %>
        <div class="responsive-table">
            <table class="table my-3">
                    <th>Nome</th>
                    <th>Sobrenome</th>
                    <th>Tel/Cel</th>
                    <th>Email</th>
                    <th>Endereço</th>
                    <th></th>
                    <th></th>
            <% contatos.forEach(contato => { %>
                <tr>
                    <td><%= contato.nome %></td>
                    <td><%= contato.sobrenome %></td>
                    <% if(contato.telefone.length > 10) {%>
                        <td><a href="https://api.whatsapp.com/send?phone=55<%= contato.telefone %>" target="_blank"><%= contato.telefone %></a></td>
                    <% } else { %>
                        <td><a href="tel:<%= contato.telefone %>" target="_blank"><%= contato.telefone %></a></td>
                    <% } %>
                    <td><a href="mailto:<%= contato.email %>" class=""><%= contato.email %></a></td>
                    <td><%= contato.endereco %></td>
                    <td><a href="/contato/index/<%= contato._id %>" class="">Editar</a></td>
                    <td><a class="text-danger" href="/contato/delete/<%= contato._id %>">Excluir</a></td>
                </tr>
            <% }) %>
            </table>
            <% } else { %>
                <p class="text-center lead">Você não tem contatos cadastrados.</p>
            <% } %>
        </div>
    </div>
    <div class="col-lg-2"></div>
</div>

   

<%- include('includes/footer') %>